/* .App {
  font-family: sans-serif;
  text-align: center;
}
button {
  color:brown;
  font-size:20px;
  background-color:skyblue;
  border:4px solid brown;
  border-radius: 10px;
}
.game-board {
  width:100%;
  height:700px;
  margin:100px auto;
  background-color:lightblue;
  color: rgb(204, 28, 28);
  border: 6px solid brown;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  border: 6px solid #739dc7;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(175, 70, 70);
}
.block {
  background-color: rgb(219, 28, 28);
  border: 6px solid green; 
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
}

h1 {
   color:darkmagenta;
   margin:100px 250px;
} */


.body{
  font-family: sans-serif;
  text-align: center;
  background-color:pink;
}

.game-board {
  width:300px;
  margin:200px auto;
  border: 4px solid black;
  box-shadow:5px 5px pink;
  padding:20px;
  background-color:grey;
  color:darkslateblue;
}

.grid-row {
  display: flex;
 
}

button {
   background-color: pink;
   color:darkorchid;
}

.block {
  width: 100px;
  height: 100px;
  font-size: 1em;
  border: 2px solid black;
  cursor: pointer;
}

.reset {
   cursor: pointer;
   width:100%;
   font-size:13.5px;
   padding:10px;
   color:white;
   background-color:darkslateblue;

}

.reset:hover {
   background-color:grey;
   color:blueviolet;
}

/* Popup Overlay */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Box */
.popup-content {
  background: white;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  animation: pop 0.4s ease;
}

@keyframes pop {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

